adapter speed 1000

adapter driver ftdi
#ftdi_device_desc "Dual RS232-HS"
ftdi_vid_pid 0x0403 0x6010

transport select jtag

ftdi_layout_init 0x0008 0x001b
ftdi_layout_signal nSRST -oe 0x0020 -data 0x0020
ftdi_layout_signal TCK -data 0x0001
ftdi_layout_signal TDI -data 0x0002
ftdi_layout_signal TDO -input 0x0004
ftdi_layout_signal TMS -data 0x0008
ftdi_layout_signal JTAG_SEL -data 0x0100 -oe 0x0100
 

set _CHIPNAME riscv                 
set _CPUTAPID 0x10002fff

set  _ENDIAN little
set _TAP_TYPE 1234

#jtag newtap $_CHIPNAME cpu -irlen 4 -expected-id 0x10001fff
jtag newtap $_CHIPNAME cpu -expected-id $_CPUTAPID -irlen 5 -ircapture 0x1 

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME

init
#echo "Halting processor"
reset halt
sleep 1000

